:root {
  --dropdown-border-color: #f5f5f5;
}
.dropdown-container {
  top: 100%;
  border-radius: 4px;
  background-color: var(--color-light);
  width: 100%;
  min-width: fit-content;
  box-sizing: border-box;
  max-height: 10rem;
  overflow-y: scroll;

  .select-container {
    display: flex;
    background-color: var(--color-light);
    border: none;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--dropdown-border-color);

    .select-title {
      font-size: var(--medium-font-size);
      margin: 0.6rem 1rem 0.6rem 1rem;
      display: flex;
      align-items: center;
      gap: 5px;

      input {
        margin: 0;
        margin-top: 2px;
      }
    }
  }
  .select-container:hover {
    background-color: var(--dark-blue-color);
    cursor: pointer;
    .select-title {
      color: var(--color-light);
    }
  }
}
.dropdown-container::-webkit-scrollbar {
  display: none;
}
.dropdown-absolute {
  position: absolute;
  z-index: 3;
  box-shadow: 0px 10px 20px 0px var(--box-shadow-color);
  border: 1px solid var(--border-gray-color);
}

.select-container-checkbox {
  display: flex;
  background-color: var(--gray-background-color);
  border: none;
  width: 100%;

  .select-title {
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--medium-font-size);
    cursor: pointer;

    input {
      height: 16px;
      width: 16px;
      margin: 0;
      margin-bottom: 2px;
      cursor: pointer;
    }
  }
}
