:root {
  --new-property-color: #cdcded;
}
.room {
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid var(--gray-background-color);
  border-radius: 4px;
  box-shadow: 0px 4px 25px 0px #00000026;
  transition: all 0.2s ease-in-out;
  height: fit-content;

  @media (max-width: 1400px) {
    width: 48%;
  }

  @media (max-width: 770px) {
    width: 47.5%;
  }

  @media (max-width: 653px) {
    width: 100%;
  }
  .room-images {
    width: 100%;
    .MuiBox-root {
      width: 100%;
      .react-swipeable-view-container {
        width: 100%;
        img {
          width: 100%;
          height: 145px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
  }
  .room-details {
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .room-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .room-name-review {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 36px;
        .room-name {
          font-weight: 700;
          max-width: 150px;
        }

        .room-review {
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .rating-container {
            display: flex;
            align-items: center;
            font-weight: 700;
          }
          .total-reviews {
            font-size: var(--small-font-size);
          }
        }
        .new-property {
          font-size: var(--small-font-size);
          width: 99px;
          height: fit-content;
          min-height: 23px;
          background-color: var(--new-property-color);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
        }
      }
      .location {
        display: flex;
        align-items: center;

        .address {
          font-size: var(--small-font-size);
          color: var(--gray-text-color);
        }
      }
      .inclusives {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .inclusive {
          font-style: italic;
          color: var(--gray-text-color);

          .area {
            font-style: initial;
          }
        }
        .users-bed {
          display: flex;
          align-items: center;
          font-size: var(--small-font-size);
          color: var(--gray-text-color);
        }
      }
    }
    .room-price {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .discount-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .deal-tag {
          position: absolute;
          top: 0;
          left: -22px;
          z-index: -1;
        }
        .deal {
          color: var(--color-light);
          padding-top: 5px;
        }
        .deal-info {
          font-size: var(--small-font-size);
          color: var(--gray-text-color);
        }
      }
      .price-per-night {
        display: flex;
        flex-direction: column;
        .price {
          font-weight: 700;
        }
        .per-night {
          font-size: var(--small-font-size);
          color: var(--gray-heading-color);
        }
      }
      .button-compare {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .btns {
          display: flex;
          align-items: center;
          gap: 5px;
          .select-room-btn {
            cursor: pointer;
            background-color: var(--dark-blue-color);
            color: var(--color-light);
            font-weight: 700;
            font-size: var(--small-font-size);
            width: 128px;
            height: 44px;
            border: none;
            border-radius: 4px;
          }
          .view-btn {
            cursor: pointer;
            background-color: var(--dark-blue-color);
            color: var(--color-light);
            font-weight: 700;
            font-size: var(--small-font-size);
            width: fit-content;
            height: 44px;
            border: none;
            border-radius: 4px;
          }
        }

        .compare {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          input {
            cursor: pointer;
            width: 16px;
            height: 16px;
            margin-bottom: 4px;
          }
          label {
            cursor: pointer;
            margin-bottom: 3px;
            font-size: var(--small-font-size);
          }
        }
      }
      .filling-out {
        display: flex;
        align-items: center;
        align-self: flex-end;
        color: #ff4000;
        font-weight: 700;
        margin-bottom: -15px;
        gap: 3px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.room:hover {
  transform: scale(1.015);
}

.room-active {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  border: 1px solid var(--gray-background-color);
  border-radius: 4px;
  box-shadow: 0px 4px 25px 0px #00000026;

  @media (max-width: 1770px) {
    width: 48%;
  }

  @media (max-width: 1400px) {
    width: 47.85%;
  }

  @media (max-width: 1350px) {
    width: 100%;
  }
}

.image-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: var(--color-light);
  border-radius: 4px;
  overflow-y: scroll;
  position: relative;

  .close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: var(--xx-large-font-size);
    color: var(--color-light);
    padding: 12px 18px;
    z-index: 2;
  }
  .close-modal-btn:hover {
    background-color: var(--close-btn-color);
    opacity: 0.6;
    cursor: pointer;
  }
}
.image-modal::-webkit-scrollbar {
  display: none;
}
