<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Define the logging pattern -->
            <pattern>{%highlight(%level)} [%logger{0}.%M] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>